[tool.poetry]
name = "hpc_helper"
version = "0.2.1"
description = "Python package with helper functions for working with FAU's High Performance Cluster (HPC)."
authors = ["Robert Richer <robert.richer@fau.de>"]
readme = "README.md"
homepage = "https://github.com/mad-lab-fau/hpc-helper"
repository = "https://github.com/mad-lab-fau/hpc-helper"
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-cov = "^3.0.0"
prospector = "^1.2.0"
black = "^21.12b0"
isort = "^5.10.1"
poethepoet = "^0.11.0"
coverage = "^6.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py38']
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | docs
    | build
    | dist
    | \.virtual_documents
  )/
)
'''

[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 120
skip_gitignore = true


[tool.poe.tasks]
_black = "black ."
_black_check = "black . --check"
_isort = "isort **/*.py"
_isort_check = "isort **/*.py --check-only"

# Reformat all files using black and sort import
format = ["_black", "_isort"]
format_check = ["_black_check", "_isort_check"]
lint = "prospector"
test = "pytest --cov=hpc_helper --cov-report=xml"
docs = {"script" = "_tasks:task_docs"}
update_version = {"script" = "_tasks:task_update_version"}
default = ["format", "lint", "test"]
